<footer class="footer-wrapper">
  <div class="button-nav">
    <amr-button
      ariaLabel="Idioma - Español España"
      label="Idioma - Español España"
      buttonSvgIcon="language"
      iconTheme="blue"
      svgIconWidthSize="1.167rem"
      svgIconHeightSize="1.167rem"
      [showSvgIcon]="true"
    ></amr-button>

    <amr-button
      ariaLabel="Ubicación - España"
      label="Ubicación - España"
      buttonSvgIcon="position"
      iconTheme="blue"
      svgIconWidthSize="1.167rem"
      svgIconHeightSize="1.167rem"
      [showSvgIcon]="true"
    ></amr-button>

    <amr-button
      ariaLabel="Moneda - EUR"
      label="Moneda - EUR"
      buttonSvgIcon="currency"
      iconTheme="blue"
      svgIconWidthSize="1.167rem"
      svgIconHeightSize="1.167rem"
      [showSvgIcon]="true"
    ></amr-button>
  </div>
</footer>
