<div class="header-wrapper">
  <div class="button-nav">
    <amr-svg svg="menu" color="grey"></amr-svg>
    <img class="logo" src="assets/img/logo.png " />
    <amr-button
      ariaLabel="Viajes"
      label="Viajes"
      buttonSvgIcon="bag"
      iconTheme="blue"
      svgIconWidthSize="1.167rem"
      svgIconHeightSize="1.167rem"
      [showSvgIcon]="true"
    ></amr-button>

    <amr-button
      ariaLabel="Explorar"
      label="Explorar"
      buttonSvgIcon="search-world"
      iconTheme="blue"
      svgIconWidthSize="1.167rem"
      svgIconHeightSize="1.167rem"
      [showSvgIcon]="true"
    ></amr-button>

    <amr-button
      ariaLabel="Vuelos"
      label="Vuelos"
      buttonSvgIcon="flight"
      iconTheme="blue"
      svgIconWidthSize="1.167rem"
      svgIconHeightSize="1.167rem"
      [showSvgIcon]="true"
    ></amr-button>

    <amr-button
      ariaLabel="Hoteles"
      label="Hoteles"
      buttonSvgIcon="hotel"
      iconTheme="blue"
      svgIconWidthSize="1.167rem"
      svgIconHeightSize="1.167rem"
      [showSvgIcon]="true"
    ></amr-button>

    <amr-button
      ariaLabel="Alquileres Vacacionales"
      label="Alquileres Vacacionales"
      buttonSvgIcon="home"
      iconTheme="blue"
      svgIconWidthSize="1.167rem"
      svgIconHeightSize="1.167rem"
      [showSvgIcon]="true"
    ></amr-button>
  </div>
  <div class="teste-end">
    <amr-svg svg="light" color="grey-dart"></amr-svg>
    <amr-svg svg="application" color="grey"></amr-svg>
    <button class="button">
      Iniciar sesión
    </button>
  </div>
</div>
