@import "includes";

.content {
  display: flex;
  align-content: space-around;

  &.full {
    /*     flex-basis: 100%; */
  }
  &.equally {
    flex-basis: calc(50% - 1.6rem);
  }

  .label {
    align-items: center;
  }
}
