svg {
  display: inline-block;
  height: auto;
  width: auto;
  vertical-align: middle;
  pointer-events: all;
}

.blue {
  fill: #106af1;
}

.grey {
  fill: #d2d3d4;
}

.grey-dart {
  fill: #5f6368;
}

.white {
  fill: #fff;
}
