<section>
 <mat-form-field appearance="fill" class="picker">
    <div class="label-container">
    </div>
    <div class="input">
      <input
        #fromInput
        matInput
        [placeholder]="placeholder"
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="picker"
        [maxlength]="maxlength"
        (dateInput)="valueChanged($event.value)"
        (dateChange)="valueChanged($event.value)"
        [formControl]="control"
        required
      />
     
    </div>

    <mat-datepicker-toggle matSuffix [for]="picker" (click)="toggleIcon(fromInput)">
      
    </mat-datepicker-toggle>
    <mat-datepicker (selectedChanged)="fromPicker($event)" #picker> </mat-datepicker>
  </mat-form-field> 
  <div class="feedback-container" *ngIf="control?.invalid && (control?.dirty || control?.touched)">
  </div>
</section>
